body{
    background-color: #2A2E39;
}
.titulo{
    text-align: center;
    padding: 0.6em;
}
h1 ,th, td{
    color:white
}
.formularioContent{
     justify-content: center;
 }
.formulario{
    background-color:#5371a3;
    padding:10px;
    border-radius:3px;
}
.formularioPut{
    display: none;
    background-color:#5371a3;
    padding:10px;
    border-radius:3px;
}




.button {
 text-align: center;
 --color: #00A97F;
 padding: 0.8em 1.7em;
 margin: 0.8em;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 400;
 font-size: 17px;
 border: 1px solid;
 font-family: inherit;
 color: var(--color);
 z-index: 1;
}

.button::before, .button::after {
 content: '';
 display: block;
 width: 50px;
 height: 50px;
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 transition: 1s ease;
}

.button::before {
 top: -1em;
 left: -1em;
}

.button::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
 height: 410px;
 width: 410px;
}

.button:hover {
 color: rgb(10, 25, 30);
}

.button:active {
 filter: brightness(.8);
}
